.black_nav{
  display: flex;
  background-image: linear-gradient(45deg, #96fbc4 0%, #f9f586 100%);
  width: 100%;
  color: #fff;
  /* padding-left: 28px; */
  justify-content: center;
}

.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.modal{
  margin-top: 20px;
  text-align: right;
  border-bottom: 1px solid #000;
}

.App {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  height: 500px;
  overflow-y: scroll;
  border-radius: 2px;
}

.App::-webkit-scrollbar{
  width: 8px;
}

.App::-webkit-scrollbar-track{
  background: #eeeeee;
}

.App::-webkit-scrollbar-thumb{
  width: 8px;
  height: 8px;
  background: #96fbc4;
}
