*{
  font-family: 'Montserrat';
}


button{
  border: 0;
  font-size: 0;
  outline: 0;
}

span,h4{
  cursor: pointer;
}




.black_nav{
  display: flex;
  /* background-image: linear-gradient(45deg, #96fbc4 0%, #f9f586 100%); */
  width: 100%;
  color: #fff;
  /* padding-left: 28px; */
  justify-content: center;
}

.black_nav h4{

}

#text{
  padding: 10px;
  border: #333;
  outline: 0;

}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.btn_box{
  display: flex;
  padding-right: 20px;
}

.like_box{
  padding-right: 20px;
}

#close{
  border: 0;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;

}

#close:hover::before{
  transform: rotate(130deg);
}

#close:hover::after{
  transform: rotate(45deg);
}

#close::before,
#close::after{
  content: "";
  position: relative;
  width: 20px;
  height: 2px;
  display: block;
  background: #ff6666;
  transition: 0.3s ease;

}

#close::before{
  transform: rotate(45deg);
  top: 2px;
}

#close::after{
  transform: rotate(130deg);
}


.modal{
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
}

.App {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  height: 700px;
  border-radius: 2px;
  background: #e7fbc1;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

.App::before{
  content: "";
  position: absolute;
  left: -10px;
  display: block;
  width: 30px;
  height: 100%;
  background: url(/public/2.svg);
}

.list_box{
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.list_box::-webkit-scrollbar{
  width: 0;
}

.list_box::-webkit-scrollbar-track{
  background: #eeeeee;
}

.list_box::-webkit-scrollbar-thumb{
  width: 8px;
  height: 8px;
  background: #f0ffba;
}

.list_title{
  
}

.input_box{
  display: flex;
  align-items: center;
  justify-content: center;
}

#render{
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
}

#render::before,
#render::after{
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
}

#render::before{
  position: relative;
  top: 2px;
}

#render::after{
  transform: rotate(90deg);
  width: 20px;
}

.name_tag{
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: inline-flex;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: auto;
}

.name_tag::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  border: 1px solid #ff66666e;
}

.sky{
  background: linear-gradient(#85a5cc 0, #d0e4f2 76%);
  box-shadow: 0 0 20px 20px #d0e4f2;
  height: 44%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}
.sky .cloud {
  background: #ebf5fc;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 39px;
  margin-right: -102px;
  position: absolute;
  right: 0%;
  width: 102px;
}
.sky .cloud.variant-1 {
  top: 7%;
  -webkit-transform: scale(0.2);
  -webkit-animation: clouds-in-out 16s 0s infinite linear;
}
.sky .cloud.variant-2 {
  top: 18%;
  -webkit-transform: scale(0.4);
  -webkit-animation: clouds-in-out 17s 2s infinite linear;
}
.sky .cloud.variant-3 {
  top: 35%;
  -webkit-transform: scale(0.6);
  -webkit-animation: clouds-in-out 18s 4s infinite linear;
}
.sky .cloud.variant-4 {
  top: 38%;
  -webkit-transform: scale(0.8);
  -webkit-animation: clouds-in-out 19s 6s infinite linear;
}
.sky .cloud.variant-5 {
  top: 60%;
  -webkit-transform: scale(1);
  -webkit-animation: clouds-in-out 20s 8s infinite linear;
}
.sky .cloud:before, .sky .cloud:after {
  background: #ebf5fc;
  border-radius: 100px;
  content: "";
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sky .cloud:after {
  height: 60px;
  left: auto;
  right: 12px;
  top: -24px;
  width: 60px;
}

@keyframes clouds-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 105%;
  }
}
